<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Infelizmente não foi possível completar a ação, pois o formulário possui os seguintes erros:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user do |f| %>
  <p>
    <%= f.label :full_name  %>
    <%= f.text_field :full_name  %>
    <% error_tag @user, :full_name %>
  </p>

  <p>
    <%=	 f.label :location %>
    <%= f.text_field :location %>
    <% error_tag @user, :location %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <% error_tag @user, :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>