<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
    <%= t '.layout.general.form_error' %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :room_title %>
    <%= error_tag @room, :title %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :room_location %>
    <%= error_tag @room, :location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :room_description %>
    <%= error_tag @room, :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
