<section class="review">
    <% if user_signed_in? %>
        <%= form_for [review.room, review] do |f| %>
            <% Review::POINTS.each do |point| %>
                <%= f.radio_button :points, point %>
                <%= f.label :points, point, :value => point %>
            <% end %>
            <%= f.submit %>  
    <% end %>    
    <% else %>
        <span class="login_required">
        <%= t('.login_to_review') %>
    </span>
    <% end %>
</section>