<p>
  <strong><%= t '.title', :title => @room.title %></strong>
</p>

<p>
  <strong><%= t '.location', :location => @room.location%></strong>
</p>

<p>
  <strong><%= t '.description', :description => @room.description %></strong>
</p>

<%= link_to t('links.edit'), edit_room_path(@room) %> |
<%= link_to t('links.back'), rooms_path %>
